@font-face {
    font-family: 'Oswald';
    src: url(/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoCondensed-Regular.ttf);
}

*{
    font-family: "Roboto";
}
  
 .navbar {
    background-color: #0e0e0e;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .navbar li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navbar li a:hover {
    background-color: #666666;
  }

#carrusel {
    background-color: #000;
    padding: 1rem;
}

ul.slider {
    height: 37.5vh;
    width: 56.25vw;
    margin: 0 auto;
    padding: 0;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    border: 2px solid #666666;
}

ul.slider:before {
    content: '';
    background: transparent url(/imagenes/portada1.jpg) no-repeat scroll right bottom;
    height: 3vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

ul.slider:hover:before {
    display: none;
}

ul.slider li {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: #000;
}

ul.slider li:after {
    content: '';
    height: 0.3vh;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    -moz-transition: width 5s linear;
    -webkit-transition: width 5s linear;
    -o-transition: width 5s linear;
    transition: width 5s linear;
}

ul.slider li:hover:after {
    width: 100%;
    background: #666666;
}

ul.slider li:hover~li,
ul.slider li:hover~li:after {
    display: none;
    z-index: -1;
}

ul.slider li:hover {
    margin: 10vh;
    opacity: 0;
    -moz-transition: margin 0.1s linear 5s, opacity 1s linear 4s;
    -webkit-transition: margin 0.1s linear 5s, opacity 1s linear 4s;
    -o-transition: margin 0.1s linear 5s, opacity 1s linear 4s;
    transition: margin 0.1s linear 5s, opacity 1s linear 4s;
}

ul.slider li img {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: black;
}

.intro {
    text-align: center;
}

.intro h1 {
    color: whitesmoke;
    font-family: Oswald, sans-serif;
}

.intro h3 {
    color: white;
    margin-bottom: 2rem;
}

.cta-button {
    text-align: center;
}

.cta-button a {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button a:hover {
    background-color: #666666;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CSS styles for the pop-up */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #999999;
    cursor: pointer;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666666;
}


.footer {
    background-color: #0e0e0e;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer li {
    display: inline-block;
    margin-right: 1rem;
}

.footer li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px;
}

.qr-code {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.qr-code img {
    width: 5vw;
    height: 5vw;
}

@media (max-width: 768px) {
    /* Adjust navbar styles for smaller screens */
    .navbar ul {
      flex-wrap: wrap;
    }
  
    .navbar li {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .navbar li a {
      padding: 0.5rem;
    }

    ul.slider {
        width: 90vw;
    }    

    img{
        height: 100%;
    }
}
  
  @media (max-width: 600px) {
    /* Adjust slider and popup styles for smaller screens */
    ul.slider {
      width: 100%;
    }
  
    .popup {
      width: 90vw;
    }

    img{
        height: 100%;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjust font sizes and QR code dimensions for smaller screens */
    .footer li a {
      font-size: 1.5rem;
    }
  
    .qr-code img {
      width: 10vw;
      height: 10vw;
    }

    ul.slider {
        height: 25vh;
        width: 100vw;
    }

    img {
    height: 100%;
    }
  }